<h1>New Appearance</h1>
<!-- will post an error if one arises -->
<% if @errors %>
    <% @errors.each do |error| %>
        <p>ERROR: <%= error %></p>
    <% end %>
<% end %>

<!-- new joiner form with two drop down menues and one number field menu -->

<%= form_for @appearance do |f|%>
Guest
<%= f.collection_select :guest_id, @guests, :id, :name%><br>
Episode
<%= f.collection_select :episode_id, @episodes, :id, :number%><br>
<%= f.label :rating%>
<%= f.number_field :rating%><br>
<%= f.submit%>



<%end %>


