<h1>New Apperance</h1>

    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p><%= error %><p> 
        <% end %>
    <% end %>

    <%= form_for @apperance  do |f| %>
        <%= f.collection_select :guest_id, @guests, :id, :name%>
        <%= f.collection_select :episode_id, @episodes, :id, :number%>
        
        <%= f.label :rating%>
        <%= f.number_field :rating %>

        <%= f.submit %>

    <% end %>  
